<owl-carousel-o [options]="carouselOptions">
    <ng-container *ngFor="let slide of slides">
        <ng-template carouselSlide>
          <div class="project-item-wrapper">
            <img [src]="slide.src" [alt]="slide.alt" [title]="slide.title">
            <div class="row my-3 row-icons">
              <div class="col-4 text-end">
                <button class="btn btn-sm btn-outline-light btn-project-item"><fa-icon [icon]="faExternalLinkAlt"></fa-icon></button>
              </div>
              <div class="col-4 text-center">
                <button class="btn btn-sm btn-outline-light btn-project-item"><fa-icon [icon]="faCode"></fa-icon></button>
              </div>
              <div class="col-4 text-start">
                <button class="btn btn-sm btn-outline-light btn-project-item"><fa-icon [icon]="faInfo"></fa-icon></button>
              </div>
            </div>
          </div>
        </ng-template>
    </ng-container>
</owl-carousel-o>
