<owl-carousel-o [options]="carouselOptions">
    <ng-container *ngFor="let slide of slides">
        <ng-template carouselSlide>
          <div class="project-item-wrapper">
            <img [src]="slide.src" [alt]="slide.alt" [title]="slide.title">
            <div class="row row-techs my-3">
              <div class="col text-center" *ngFor="let tech of slide.techs">
                <span class="{{ tech.fontColor }} fw-bold">{{ tech.name }}</span>
              </div>
            </div>
            <div class="row mb-3 row-icons">
              <div class="col-4 text-end">
                <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="{{ slide.href ? ('Open website' | translate) : ('Live preview private' | translate) }}">
                  <button class="btn btn-sm btn-outline-light btn-project-item" [disabled]="!slide.href" (click)="openLink(slide.href)">
                    <fa-icon [icon]="faExternalLinkAlt"></fa-icon>
                  </button>
                </span>
              </div>
              <div class="col-4 text-center">
                <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="{{ slide.codeHref ? ('See code on GitHub' | translate) : ('Code private' | translate) }}">
                  <button class="btn btn-sm btn-outline-light btn-project-item" [disabled]="!slide.codeHref"><fa-icon [icon]="faCode"></fa-icon></button>
                </span>
              </div>
              <div class="col-4 text-start">
                <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="{{ 'More information' | translate }}">
                  <button class="btn btn-sm btn-outline-light btn-project-item"><fa-icon [icon]="faInfo"></fa-icon></button>
                </span>
              </div>
            </div>
          </div>
        </ng-template>
    </ng-container>
</owl-carousel-o>
