.btn-project-item {
    width: 40px;
}

img {
    border-radius: .25rem;
    max-height: 450px;
    object-fit: contain;
}

@media (min-width: 992px) {
    .project-item-wrapper {
        .row-icons,
        .row-techs {
            opacity: 0;
            transition: opacity 0.3s;
        }
    }

    .project-item-wrapper:hover {
        .row-icons,
        .row-techs {
            opacity: 1;
        }
    }
}
