<div class="card card-section">
    <div class="row">
        <div class="col-md-3">
            <img class="img-fluid rounded" src="assets/images/gustavo-kropiwiec.jpeg" alt="Gustavo Kropiwiec">
        </div>
        <div class="col-md-9">
            <div class="card-body">
                    <h2 class="border-bottom">{{ 'Summary' | translate }}</h2>
                    <span [innerHTML]="'AboutDescription.summary' | translate"></span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <h2 class="border-bottom">{{ 'Experience' | translate }}</h2>
                <app-timeline></app-timeline>
            </div>
        </div>
    </div>
</div>