<div class="card card-section">
    <div class="row">
        <div class="col-md-3">
            <img class="img-fluid rounded" src="assets/images/gustavo-kropiwiec.jpeg" alt="Gustavo Kropiwiec">
        </div>
        <div class="col-md-9">
            <div class="card-body">
                    <h2>{{ 'Summary' | translate }}</h2>
                    <span [innerHTML]="'AboutDescription.summary' | translate"></span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <h2>{{ 'Experience' | translate }}</h2>
                <ul>
                    <li class="my-3">
                        <span class="text-purple">{{ 'Frontend Web Developer' | translate }}</span> {{ 'at' | translate }} <span class="text-dbm">DBM Contact Center</span> ({{ 'May' | translate }} 2021 - {{ 'Present' | translate}})
                        <ul class="deskonly">
                            <li>{{ 'AboutDescription.DBM1' | translate }}</li>
                            <li>{{ 'AboutDescription.DBM2' | translate }}</li>
                        </ul>
                    </li>
                    <li class="my-3">
                        <span class="text-purple">{{ 'Fullstack Web Developer' | translate }}</span> {{ 'at' | translate }} <span class="text-success">Esallabs</span> ({{ 'August' | translate }} 2020 - {{ 'May' | translate }} 2021)
                        <ul class="deskonly">
                            <li>{{ 'AboutDescription.Esal1' | translate }}</li>
                            <li>{{ 'AboutDescription.Esal2' | translate }}</li>
                        </ul>
                    </li>
                    <li class="my-3">
                        <span class="text-purple">{{ 'Junior Developer' | translate }}</span> {{ 'at' | translate }} <span class="text-danger">Viasoft Korp</span> ({{ 'November' | translate }} 2019 - {{ 'May' | translate }} 2020)
                        <ul class="deskonly">
                            <li>{{ 'AboutDescription.Korp1' | translate }}</li>
                            <li>{{ 'AboutDescription.Korp2' | translate }}</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>