<div class="card card-section">
    <div class="row h-100">
        <div class="col-md-3">
            <img class="img-fluid rounded" src="" alt="Gustavo Kropiwiec">
        </div>
        <div class="col-md-9">
            <div class="card-body">
                <div clas="row">
                    <div class="col">
                        <h2>{{ 'Summary' | translate }}</h2>
                        {{ "About summary" | translate }}
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col">
                        <h2>{{ 'Experience' | translate }}</h2>
                        <ul>
                            <li>
                                <span class="text-purple">Frontend Web Developer</span> at <span class="text-purple">DBM Contact Center</span> (May 2021 - Present)
                            </li>
                            <li>
                                Fullstack Web Developer at Esallabs (August 2020 - May 2021)
                            </li>
                            <li>
                                Junior Developer at Viasoft Korp (November 2019 - May 2020)
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>