<nav class="navbar fixed-top navbar-expand navbar-dark justify-content-center deskonlyflex">
    <img class="ms-4 logo-cell cursor-pointer" src="assets/icons/gk-icon.svg" alt="logo" (click)="navigateHome()">
    <ul class="navbar-nav mx-auto" *ngIf="currentUrl == '/'">
        <li class="nav-item center-nav" [ngClass]="{'active': (activeNav === 'section-intro')}">
            <a class="nav-link cursor-pointer" (click)="goToSection('section-intro')">Intro</a>
        </li>
        <li class="nav-item" [ngClass]="{'active': (activeNav === 'section-projects')}">
            <a class="nav-link cursor-pointer" (click)="goToSection('section-projects')">{{ 'Projects' | translate }}</a>
        </li>
        <li class="nav-item" [ngClass]="{'active': (activeNav === 'section-skills')}">
            <a class="nav-link cursor-pointer" (click)="goToSection('section-skills')">{{ 'Skills' | translate }}</a>
        </li>
        <li class="nav-item" [ngClass]="{'active': (activeNav === 'section-about')}">
            <a class="nav-link cursor-pointer" (click)="goToSection('section-about')">{{ 'About' | translate }}</a>
        </li>
        <li class="nav-item" [ngClass]="{'active': (activeNav === 'section-contact')}">
            <a class="nav-link cursor-pointer" (click)="goToSection('section-contact')">{{ 'Contact' | translate }}</a>
        </li>
    </ul>
    <ul class="navbar-nav mx-auto" *ngIf="currentUrl != '/'">
        <li class="nav-item center-nav">
            <a class="nav-link cursor-pointer" [routerLink]="['/']" routerLinkActive="router-link-active">Home</a>
        </li>
    </ul>
    <img class="lang-flag mx-1 cursor-pointer" [ngClass]="{'active-lang': lang == 'en-US' }" (click)="changeLanguage('en-US')" src="assets/images/languages/en-US.png" alt="US flag">
    <!-- <img class="lang-flag mx-1 cursor-pointer" [ngClass]="{'active-lang': lang == 'en-GB' }" (click)="changeLanguage('en-GB')" src="assets/images/languages/en-GB.png" alt="UK flag"> -->
    <img class="lang-flag ms-1 me-5 cursor-pointer" [ngClass]="{'active-lang': lang == 'pt-BR' }" (click)="changeLanguage('pt-BR')" src="assets/images/languages/pt-BR.png" alt="BR flag">
</nav>

<nav class="navbar fixed-top navbar-dark cellonly">
    <div class="row">
        <div class="col-6">
            <img class="ms-3 logo-cell" src="assets/icons/gk-icon.svg" alt="logo" (click)="navigateHome()">
        </div>
        <div class="col-6">
            <div class="dropdown" *ngIf="currentUrl == '/'">
                <button class="btn btn-outline-light dropdown-toggle float-end me-4" type="button" id="dropDownNavTopCellHome" data-bs-toggle="dropdown" aria-expanded="false">
                  Menu
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropDownNavTopCellHome">
                    <li class="nav-item" [ngClass]="{'active': (activeNav === 'section-intro')}">
                        <a class="nav-link dropdown-item" (click)="goToSection('section-intro')">Intro</a>
                    </li>
                    <li class="nav-item" [ngClass]="{'active': (activeNav === 'section-projects')}">
                        <a class="nav-link dropdown-item" (click)="goToSection('section-projects')">{{ 'Projects' | translate }}</a>
                    </li>
                    <li class="nav-item" [ngClass]="{'active': (activeNav === 'section-skills')}">
                        <a class="nav-link dropdown-item" (click)="goToSection('section-skills')">{{ 'Skills' | translate }}</a>
                    </li>
                    <li class="nav-item" [ngClass]="{'active': (activeNav === 'section-about')}">
                        <a class="nav-link dropdown-item" (click)="goToSection('section-about')">{{ 'About' | translate }}</a>
                    </li>
                    <li class="nav-item" [ngClass]="{'active': (activeNav === 'section-contact')}">
                        <a class="nav-link dropdown-item" (click)="goToSection('section-contact')">{{ 'Contact' | translate }}</a>
                    </li>
                    <li>
                        <div class="nav-link dropdown-item ms-3">
                            <img class="lang-flag mx-1" [ngClass]="{'active-lang': lang == 'en-US' }" (click)="changeLanguage('en-US')" src="assets/images/languages/en-US.png" alt="US flag">
                            <!-- <img class="lang-flag mx-1" [ngClass]="{'active-lang': lang == 'en-GB' }" (click)="changeLanguage('en-GB')" src="assets/images/languages/en-GB.png" alt="UK flag"> -->
                            <img class="lang-flag ms-1" [ngClass]="{'active-lang': lang == 'pt-BR' }" (click)="changeLanguage('pt-BR')" src="assets/images/languages/pt-BR.png" alt="BR flag">
                        </div>
                    </li>
                </ul>
            </div>
            <div class="dropdown" *ngIf="currentUrl != '/'">
                <button class="btn btn-outline-light dropdown-toggle float-end me-4" type="button" id="dropDownNavTopCell" data-bs-toggle="dropdown" aria-expanded="false">
                    Menu
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropDownNavTopCell" *ngIf="currentUrl != '/'">
                    <li class="nav-item">
                        <a class="nav-link dropdown-item" routerLinkActive="router-link-active" (click)="navigateHome()">{{ 'Home' | translate }}</a>
                    </li>
                    <li>
                        <div class="nav-link dropdown-item ms-3">
                            <img class="lang-flag mx-1" [ngClass]="{'active-lang': lang == 'en-US' }" (click)="changeLanguage('en-US')" src="assets/images/languages/en-US.png" alt="US flag">
                            <!-- <img class="lang-flag mx-1" [ngClass]="{'active-lang': lang == 'en-GB' }" (click)="changeLanguage('en-GB')" src="assets/images/languages/en-GB.png" alt="UK flag"> -->
                            <img class="lang-flag ms-1" [ngClass]="{'active-lang': lang == 'pt-BR' }" (click)="changeLanguage('pt-BR')" src="assets/images/languages/pt-BR.png" alt="BR flag">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>