<span *ngIf="type === 'Detail'" class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="{{  project.detailUrl ? ('See more about this project' | translate) : ('Details in development' | translate) }}" (click)="hideTooltips()">
    <button class="btn btn-sm btn-outline-light btn-theme btn-project-item" [disabled]="!project.detailUrl" (click)="navigateToDetails(project.detailUrl)">
        <fa-icon [icon]="faInfo"></fa-icon>
    </button>
</span>
<span *ngIf="type === 'Code'" class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="{{ project.codeHref ? ('See the code on GitHub' | translate) : ('Code private' | translate) }}" (click)="hideTooltips()">
    <button class="btn btn-sm btn-outline-light btn-theme btn-project-item" [disabled]="!project.codeHref" (click)="openLink(project.codeHref)">
        <fa-icon [icon]="faCode"></fa-icon>
    </button>
</span>
<span *ngIf="type === 'Preview'" class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="{{ project.externalLinkTitle | translate }}" (click)="hideTooltips()">
    <button class="btn btn-sm btn-outline-light btn-theme btn-project-item" [disabled]="!project.href" (click)="openLink(project.href)">
        <fa-icon [icon]="faExternalLinkAlt"></fa-icon>
    </button>
</span>