.btn-project-item {
    width: 40px;
}

@media (min-width: 992px) {
    .project-item-wrapper {
        .row-icons,
        .row-techs {
            opacity: 0;
            transition: opacity 0.3s;
        }
    }

    .project-item-wrapper:hover {
        .row-icons,
        .row-techs {
            opacity: 1;
        }
    }
}

@media (max-width: 500px) {
    .project-item-wrapper {
        max-width: 90vw;

        img {
            max-width: 100%;
        }
    }
}
