<app-navbar></app-navbar>
<div class="container justify-content-center">
    <!-- INTRO SECTION -->
    <section id="section-intro">
        <app-section-intro></app-section-intro>
    </section>
    <!-- PROJECTS SECTION -->
    <section id="section-projects" class="mt-2 section">
        <h1 class="section-title cursor-pointer title-clicable" [routerLink]="['/projects-detail']">{{ 'Projects' | translate }} - {{ 'See all' | translate }} <fa-icon [icon]="faArrowAltCircleRight"></fa-icon></h1>
        <app-section-projects></app-section-projects>
    </section>
    <!-- SKILLS SECTION -->
    <section id="section-skills" class="mt-2 section">
        <h1 class="section-title">{{ 'My Skills' | translate }}</h1>
        <app-section-skills></app-section-skills>
    </section>
    <!-- ABOUT SECTION -->
    <section id="section-about" class="mt-2 section">
        <h1 class="section-title">{{ 'About' | translate }}</h1>
        <app-section-about></app-section-about>
    </section>
    <!-- CONTACT SECTION -->
    <section id="section-contact" class="mt-2 section">
        <h1 class="section-title">{{ 'Contact me!' | translate }}</h1>
        <app-section-contact></app-section-contact>
    </section>
</div>
