<div class="row row-title">
    <div class="col align-self-center text-center animate__animated animate__fadeInDown">
        <h1 class="title">Gustavo Kropiwiec</h1>
        <h2 class="subtitle">{{ 'Software Engineer' | translate }}</h2>
    </div>
</div>
<div class="row row-chev">
    <div class="col text-center animate__animated animate__fadeInDown animate__infinite animate__slow" id="chev-animation" (click)="goToSection('section-projects')">
        <fa-icon [icon]="faChevronDown" class="icon-arrow-down cursor-pointer"></fa-icon>
    </div>
</div>