<ul class="timeline">
    <li class="my-3 event cursor-pointer" data-date="2022" (click)="openWorkDetail('work-detail4', 'chevron4')">
        <span class="expand-detail-icon"><fa-icon [icon]="faChevronCircleDown" id="chevron4"></fa-icon></span>
        <span class="text-purple">{{ 'System Analyst' | translate }}</span> {{ 'at' | translate }} <span class="text-rpc">RPC - Rede Paranaense de Comunicação</span> ({{ 'January' | translate }} 2022 - {{ 'Present' | translate}})
        <ul class="d-none work-description mt-2" id="work-detail4">
            <li>{{ 'AboutDescription.RPC1' | translate }}</li>
            <li>{{ 'AboutDescription.RPC2' | translate }}</li>
        </ul>
    </li>
    <li class="my-3 event cursor-pointer" data-date="2021" (click)="openWorkDetail('work-detail3', 'chevron3')">
        <span class="expand-detail-icon"><fa-icon [icon]="faChevronCircleDown" id="chevron3"></fa-icon></span>
        <span class="text-purple">{{ 'Frontend Web Developer' | translate }}</span> {{ 'at' | translate }} <span class="text-dbm">DBM Contact Center</span> ({{ 'May' | translate }} 2021 - {{ 'January' | translate}} 2022)
        <ul class="d-none work-description mt-2" id="work-detail3">
            <li>{{ 'AboutDescription.DBM1' | translate }}</li>
            <li>{{ 'AboutDescription.DBM2' | translate }}</li>
        </ul>
    </li>
    <li class="my-3 event cursor-pointer" data-date="2020" (click)="openWorkDetail('work-detail2', 'chevron2')">
        <span class="expand-detail-icon"><fa-icon [icon]="faChevronCircleDown" id="chevron2"></fa-icon></span>
        <span class="text-purple">{{ 'Fullstack Web Developer' | translate }}</span> {{ 'at' | translate }} <span class="text-success">Esallabs</span> ({{ 'August' | translate }} 2020 - {{ 'May' | translate }} 2021)
        <ul class="d-none work-description mt-2" id="work-detail2">
            <li>{{ 'AboutDescription.Esal1' | translate }}</li>
            <li>{{ 'AboutDescription.Esal2' | translate }}</li>
        </ul>
    </li>
    <li class="my-3 event cursor-pointer" data-date="2019" (click)="openWorkDetail('work-detail1', 'chevron1')">
        <span class="expand-detail-icon"><fa-icon [icon]="faChevronCircleDown" id="chevron1"></fa-icon></span>
        <span class="text-purple">{{ 'Junior Developer' | translate }}</span> {{ 'at' | translate }} <span class="text-danger">Viasoft Korp</span> ({{ 'November' | translate }} 2019 - {{ 'May' | translate }} 2020)
        <ul class="d-none work-description mt-2" id="work-detail1">
            <li>{{ 'AboutDescription.Korp1' | translate }}</li>
            <li>{{ 'AboutDescription.Korp2' | translate }}</li>
        </ul>
    </li>
</ul>
