.timeline {
    border-left: 3px solid var(--purple);
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    // background: rgba(114, 124, 245, 0.09);
    margin: 0 0 0 auto;
    position: relative;
    line-height: 1.4em;
    padding: 15px 50px;
    list-style: none;
    text-align: left;
    max-width: 92%;

    .work-description {
        line-height: 1.5;
    }
}

@media (max-width: 992px) {
    .timeline {
        max-width: 98%;
        padding: 25px;
    }
}

.timeline h1 {
    font-weight: 300;
    font-size: 1.4em;
}

.timeline h2,
.timeline h3 {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 10px;
}

.timeline .event {
    border-bottom: 1px dashed #e8ebf1;
    padding-bottom: 25px;
    margin-bottom: 25px;
    position: relative;
}

@media (max-width: 992px) {
    .timeline .event {
        padding-top: 30px;
    }
}

.timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline .event:before,
.timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .event:before {
    left: -207px;
    content: attr(data-date);
    text-align: right;
    font-weight: 100;
    font-size: 0.9em;
    min-width: 120px;
}

@media (max-width: 992px) {
    .timeline .event:before {
        left: 0px;
        text-align: left;
        content: attr(data-date);
    }
}

.timeline .event:after {
    box-shadow: 0 0 0 3px var(--purple);
    left: -56.8px;
    background: #d7cbe9;
    border-radius: 50%;
    height: 9px;
    width: 9px;
    content: '';
    top: 7px;
}

@media (max-width: 992px) {
    .timeline .event:after {
        left: -31.8px;
    }
}

.expand-detail-icon {
    position: absolute;
    width: 100%;
    text-align: right;
    top: 0;
}
